body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/fundo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin: 10px 0 20px;
    font-size: 1rem;
}

button {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffb300;
}

.hidden {
    display: none;
}

.correct {
    background-color: #4caf50;
}

.incorrect {
    background-color: #f44336;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btn-container button {
    width: 100%;
    text-align: center;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

#next-btn {
    margin-top: 20px;
}




